@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url('/assets/dark_exa_@2X.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.red_box {
  border:1px solid #ff0000;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
  color: #12FF12;
  font-family: 'kaushan_scriptregular', sans-serif;
}

.address {
  color: #12FF12;
}

.descrip {
  color: #12FFFF;
}

.navbar.navbar-inverse {
    background: url('/assets/dark_exa.png');
      border-radius: 0;
        box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
    font-family: 'kaushan_scriptregular', sans-serif;
    color: #ff0000;
    font-size: 26px;
    text-decoration: none;
    }

.paginate_text {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

a {
    color: #12FFFF;
    text-decoration: underline;
    }